$font: "Lato";


$pic01: "../images/bg-masthead.jpg";
$pic02: "../images/bg-showcase-1.jpg";
$pic03: "../images/bg-showcase-2.jpg";
$pic04: "../images/bg-showcase-3.jpg";



$header-color: rgb(248, 249, 250);
$article-color: white;
$btn: rgb(2, 123, 255);
// $pic01-color: #142930;
// $pic02-color: #8d83c4;
// $pic03-color: #de8b8b;
// $pic04-color: #e5b189;
// $pic05-color: #9da9da;
// $pic06-color: #8bc0ad;